.feature {
    margin-top: 5em;
    display: flex;
    @media (max-width:1000px) {
        flex-direction: column;
        height: auto;
       
        
      }
}

.feature-text {
    width: 50%;
    margin-left: 5em;
    @media(max-width:1000px){
        margin:auto;
        width: 70%;
        
    }
    h2 {
        margin-bottom: 1.5em;
    }
}

.video-div {
    border: 1px solid black;
    margin-left:10%;
    height: 300px;
    max-width: 300px;
    @media(max-width:1000px){
        margin: auto;
        margin-top: 3em;
        
      
    }

    img {
        object-fit: cover;
        width:300px;
        height: 100%;
       
    }
    
}

video {
    width: 300px;
    height: 300px;
    object-fit: cover;
}